/* Styles for the about-us-left section */
.about-us-left {
    border-radius: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* Adjust the values as needed */
}

body::-webkit-scrollbar {
    width: 0.5em; /* Adjust the width as needed */
}

body::-webkit-scrollbar-track {
    background: transparent; /* or any color you prefer */
}

body::-webkit-scrollbar-thumb {
    background-color: transparent; /* or any color you prefer */
    outline: none;
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

/* Styles for generic cards */
.card {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* Adjust the values as needed */
}

/* Styles for the contact section */
.contact-section {
    position: relative;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Background styling for the contact section */
.contact-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%; /* Adjust this value to control the height of the background section */
    background-image: url('../images/wavesBackground.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* Styles for the heading in the contact section */
.contact-section-heading {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}

/* Styles for custom lists */
.custom-list {
    padding-left: 0;
    list-style: none;
}

.custom-list li {
    margin-bottom: 5px;
}

/* Styles for sections with fade-in effect */
.fade-section.services-section,
.fade-section.about-us-section,
.fade-section.contact-section,
.fade-section.portfolio-section,
.fade-section.footer-section,
.fade-section.client-reviews-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Styles for faded-in sections */
.fade-section.services-section.fade-in,
.fade-section.about-us-section.fade-in,
.fade-section.contact-section.fade-in,
.fade-section.portfolio-section.fade-in,
.fade-section.footer-section.fade-in,
.fade-section.client-reviews-section.fade-in {
    opacity: 1;
    transform: translateY(0);
}

/* Footer Section Heading Style */
.footer-section h3 {
    font-weight: 700 !important;
}

.footer-section ul.custom-list li a {
    text-decoration: underline;
}

/* Style to place inputs underneath labels */
.form-group {
    margin-bottom: 20px;
}

.form-control {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #b366ff;
}

.form-control:focus {
    border-color: #007bff;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    transition: 0.2s ease all;
}

.form-control:focus + label,
.form-control:not(:placeholder-shown) + label {
    font-size: 0.75em;
    transform: translateY(-120%);
    color: #007bff; 
}

/* Styling for the navigation bar and links */
.navbar {
    background-color: rgba(255, 255, 255, 0) !important;
    transition: background-color 0.3s ease, border-bottom 0.3s ease; /* Add transition for border-bottom */
    border-bottom: none; /* Initial border-bottom style */
}

/* Styling for the brand logo */
.navbar-brand {
    color: #ffeecc !important;
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-weight: 1000;
    font-size: 30px !important;
    margin-top: 30px;
}

/* Add border-bottom to the navbar when scrolled */
.navbar-scrolled {
    background-color: #ffeecc !important;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* Shadow values for more prominence under navbar */
}

/* Adjust margin-top for the brand logo when scrolled */
.navbar-scrolled .navbar-brand {
    color: black !important;
    font-size: 30px !important;
}

/* Styling for the navigation links */
.navbar-nav .nav-item a.nav-link {
    font-size: 20px;
    color: #ffeecc; /* Set default color */
    border-bottom: 1px solid #ffeecc; /* Add border-bottom */
    transition: color 0.3s ease, border-bottom 0.3s ease; /* Add transitions */
}

/* Change font color and background color for the active link in closed navbar*/
.navbar-nav .nav-item.active a.nav-link {
    color: black !important;
    border-bottom: 1px solid black !important;
}

/* Change font color and underline when navbar is scrolled */
.navbar-scrolled .navbar-nav .nav-item a.nav-link {
    color: #cc3300;
    border-bottom: 1px solid #cc3300; /* Add red border-bottom */
}

/* Change font color and background color for the active link in open navbar */
.navbar-scrolled .navbar-nav .nav-item.active a.nav-link {
    color: green !important;
    border-bottom: 1px solid green !important;
}

/* Hover effect for navigation links */
.navbar-scrolled .navbar-nav .nav-item a.nav-link:hover {
    color: blue/* your hover color */;
    border-bottom-color: blue/* your hover border color */;
}

/* Hover effect for navigation links */
.navbar-nav .nav-item a.nav-link:hover {
    color: #cc3300;
    border-bottom-color: #cc3300;
}

/* Navbar Toggler Styles */
.navbar-toggler {
    background-color: #ffeecc;
}

.navbar-toggler-icon {
    color: black; /* Text (icon) color */
}

/* Styles for the portfolio slider */
#portfolio-slider {
    border: 5px solid black;
    border-radius: 10px;
    padding: 0px;
    background-color: black;
}

/* About Us Content Row Margin */
.row.about-us-content {
    margin: 0px;
}

/* Custom styles for Slick slider arrows */
.slick-prev,
.slick-next {
    font-size: 30px !important;
    font-weight: 800;
    color: #4c4a4a !important; 
    background-color: transparent !important; 
    border: none !important; 
    cursor: pointer !important; 
}

.slick-prev:hover,
.slick-next:hover {
    color: #000000 !important;
}

.slick-list {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.6); /* Significantly increased shadow values for more prominence */
}

/* Add spacing between slick slider images */
.slick-slide {
    margin-right: 15px; 
    border: 5px solid black; 
    border-radius: 8px; 
}

/* Social Icons Margin and Font Size */
.social-icons a {
    margin-right: 10px;
    font-size: 1.5em;
}

.social-icons .fa-facebook {
    color: blue;
}

/* Instagram Icon Color */
.social-icons .fa-instagram {
    color: purple;
}

.social-widgets {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

/* Text Primary Heading Color */
.text-primary {
    color: #b366ff !important;
}

.widget {
    margin-bottom: 30px;
    margin-left: 30px;
}

.widget i {
    font-size: 30px;
    transition: transform 0.3s ease; /* Add smooth transition for the transform property */
    background-color: white;
    border-radius: 50%;
    padding: 10px; /* Adjust the padding as needed */
}

.widget i:hover {
    transform: scale(1.5); /* Increase the size on hover */
}

/* Facebook Icon Color */
.widget .fa-facebook {
    color: blue;
}

/* Instagram Icon Color */
.widget .fa-instagram {
    color: purple;
}